body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

#nav-bar {
  background-color: #006266;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  
}

#mainDiv {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#header-container{
  margin-top: 50px;
}

#main-header{
  font-family: 'Ubuntu', sans-serif;
}

#tagline{
  font-size: 1.3rem;
  margin-top: 20px;
}

#checkbox-header{
  font-size: 1.2rem;
}

label{
  font-size: 1.2rem;
}

#dish-container{
  margin-bottom: 100px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-heading {
  color: #006266;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

#flagImg {
  width: 20%;
  margin: 0 auto;
}

#countryHeader {
  font-size: 1.2rem;
}

#dish-img {
  width: 80%;
  margin: 0 auto;
}

#recipe-list {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

#saveBtn {
  padding: 4px 8px;
  background-color: #006266;
  color: white;
  border-radius: 4px;
}

button {
  background-color: #006266;
  color: white;
}

.continent-boxes{
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 769px){
  .continent-boxes{
    width: 25%;
  }
  #flagImg {
    width: 100px;
  }
  #dish-img {
    width: 400px;
  }
}

#submitBtn{
  padding: 4px 8px;
  background-color: #006266;
  color: white;
  border-radius: 4px;
}

@media (min-width: 769px){
  #submitBtn{
    padding: 12px 24px;
  }
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006266;
  color: white;
  text-align: center;
  padding: 10px;
}

#modal-box{
  padding: 5%;
  position: fixed;
  z-index: 1000;
  background-color: #006366dc;
  border-radius: 4px;
  height: 30%;
  width: 60%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#modalMsg{
  color:white
}

@media (min-width: 1000px){
  #modal-header{
    font-size: 1.5rem;
  }
  .continent-boxes{
    width: 20%;
  }
  #recipe-list {
    width: 50%;
  }
  #modal-box{
    height:25%;
  }
}

.confirmBtn{
  margin: 10px;
  background-color:  white;
  border-radius: 3px;
  padding: 5px;

}

#dropdownList{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -30vw;
  height: 100%;
  width: 30%;
  background-color: #218c74;
  color: white;
  font-weight: 700;
}

.dropdownItem{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  font-size: 0.8rem;
}

@media(min-width: 769px){
  #dropdownList{
    width: 20%;
  }
  .dropdownItem{
    font-size: 1.5rem;
  }
}



.dropdownItem:hover{
  background-color: #36d4b2;
}
/* changing every other child of the dropdown unordered list */
@media(max-width: 768px){


  .dropdownItem:nth-child(even){
    background-color: #114d40;
  }
}

#antarcticaGIPH{
  width: 200px;
  height: 200px;
  left: 50%;
  margin: 0 auto;
}